{{> head}}
   {{> navbar }}
    
    <div class="jumbotron">
        <h1 class="display-6">Feliz cumpleaños, {{nombre}}!</h1>
        <img src="assets/img/paola.jpg" class="img-thumbnail" height="500" width="250" >
        <p class="lead">En estos momentos eres la persona que logra hacerme <br>
            reír cada día y por eso te quiero y te adoro. Tengo muy claro <br>
            que quiero pasar el resto de mi vida contigo y celebrar <br>
            todos tus cumpleaños. Felicidades, mi amor, espero que lo pases muy bien en este día tan especial.</p>
        
        
    </div>

    {{> footer}}